.about-mission {
    margin-bottom   : 160px;
    min-height      : 600px;
    // overflow     : hidden;

    .mission-image {
        position     : relative;
        border-radius: 8px;

        >img {
            border-radius: 8px;
            width        : 100%;
        }

        &::before {
            content         : '';
            position        : absolute;
            display         : block;
            width           : 480px;
            height          : 480px;
            border-radius   : 50%;
            bottom          : -20%;
            left            : -30%;
            background-color: $greenColor-300;
            z-index         : -2;
        }

        &::after {
            content         : '';
            position        : absolute;
            display         : block;
            width           : 264px;
            height          : 264px;
            border-radius   : 50%;
            bottom          : -25%;
            right           : 22%;
            background-color: $orangeColor-200;
            z-index         : -1;
        }
    }

    .misstion-content {
        margin-bottom: 120px;

        >h2 {
            font-size: 3rem;
        }
    }
}