.news {
    @include section;

    .section-header {
        margin-bottom: 60px;

        >p {
            padding: 0 10px;
        }
    }

    .news-lists {
        .news-item {
            display        : flex;
            flex-direction : column;
            justify-content: space-between;
            padding        : 0 20px;
            margin-bottom  : 40px;

            .news-image {
                width        : 100%;
                border-radius: 8px;

                img {
                    width: 100%;
                }

            }

            .news-time {
                display        : flex;
                justify-content: space-between;
                align-items    : center;

                >p.news-calendar {
                    display    : flex;
                    align-items: center;
                }
            }
        }

        .news-more {
            display        : flex;
            justify-content: center;
        }

        .news-panigate {
            display        : flex;
            justify-content: center;
            align-items    : center;

            ul {
                display: flex;

                li {
                    a {
                        display    : block;
                        padding    : 0 10px;
                        font-size  : 2rem;
                        font-style : normal;
                        font-weight: 400;

                        &.active {
                            color: $greenColor-800;
                        }

                        &:hover {
                            color: $greenColor-800;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .news {
        margin-top: -160px;

        .section-header {
            >p {
                padding: 0 10%;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .news {
        .section-header {
            >p {
                padding: 0 23%;
            }
        }
    }
}